<div class="quizzes">
  <div class="title quiz-container">
    {{vm.selectedQuiz.quizName}}
  </div>
  <div ng-hide="vm.summary">
    <div class="quiz-label quiz-container">
      Pytanie {{vm.actuallySelectedQuestion+1}} / {{vm.selectedQuiz.questionList.length}}<br/>
    </div>
    <div class="quiz-label quiz-container">
      Czas trwania quizu: {{vm.selectedQuiz.quizTime}} min
    </div>
    <minute-ticker class="quiz-timeout" ng-show="vm.started" started="vm.started" number-of-minutes="vm.selectedQuiz.quizTime"></minute-ticker>
  </div>

  <div ng-show="!vm.summary && vm.started" class="quiz-content quiz-container"
       ng-include="vm.questionTemplates[vm.selectedQuiz.questionList[vm.actuallySelectedQuestion].questionType]"></div>

  <div ng-show="vm.summary" class="quiz-content quiz-container"
       ng-include="'/modules/quizzes/client/views/quiz-templates/quiz-summary.html'"></div>


  <div class="quizz-buttons">
    <button ng-show="!vm.started" type="button" ng-click="vm.startQuiz()"
            class="btn btn-default time-height">Rozpocznij Quiz
    </button>

    <button ng-show="vm.hasPreviousQuestion && !vm.summary && vm.started" type="button" ng-click="vm.previousQuestion()"
            class="btn btn-default time-height">Poprzednie pytanie
    </button>

    <button ng-show="vm.hasNextQuestion && !vm.summary && vm.started" type="button" ng-click="vm.nextQuestion()"
            class="btn btn-default time-height">Następne pytanie
    </button>

  </div>
  <div class="quizz-buttons quizz-submit-button">
    <button ng-hide="vm.hasNextQuestion || vm.summary" type="button" ng-click="vm.submit()"
            class="btn btn-default time-height quizz-submit-button">Zakończ
    </button>
  </div>
</div>
